.mainSlider {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.containerImages {
  /* animation: opacity 6500ms ease-out infinite; */
  img {
    max-height: 75vw;
    height: 50vw;
  }
}
.containerText {
  width: 60%;
  height: 30vw;
  display: flex;
  align-items: center;
  position: absolute;
  background-color: silver;
  opacity: 0.8;
  z-index: 1000000;
  margin-top: 10vw;
  display: flex;
}
.text {
  width: 45%;
  color: #fff;
}
.cubeLogo {
  color: #000;
  font-size: 7vw;
  /* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='7' stroke-dasharray='40%2c65' stroke-dashoffset='4' stroke-linecap='square'/%3e%3c/svg%3e"); */
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #fff;
}
